@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --primary-bgd-clr:#333333;
  --primary-font-clr:#f5f5f5;
}
body{
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: var(--primary-font-clr);
  background-color: var(--primary-bgd-clr);
}

/* app component css */
.coin-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.coin-input{
  height: 50px;
  padding: 0.8em;
  margin: 0.5em;
}
.title{
  font-size: 2rem; 
}
input[type="text"] {
  width: 20vmax;
}

